<div id="headerSection">
  <h2>Burger</h2>
</div>

<div id="middleSection">

  <div class="leftMiddle">
    <div class="uneaten center">
      <p>All the burgers</p>

      {{#each burger}}
      {{#unless devoured}}
      {{> burgers/burgerBlock devoured=1}}
      {{/unless}}
      {{/each}}
    </div>
  </div>

  <div class="centerMiddle">
    <div class="center">
      <p>Add new burger</p>

      <input id="burgerName" type="text" placeholder="Name of Your Burger" data-eaten="0">
      <button id="addBurger" type="button">Add Burger</button>
    </div>
  </div>

  <div class="rightMiddle">
    <div class="eaten center">
      <p>Eat another burger</p>

      {{#each burger}}
      {{#if devoured}}
      {{> burgers/burgerBlock devoured=0}}
      {{/if}}
      {{/each}}
    </div>
  </div>

</div>